body{
    box-sizing: border-box;
        justify-content: space-around;
        align-items: center;
      background-color: #099797;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}




